.loan-container {
    padding: 20px;
    background-image: url(../../public/images/available.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 590px;
  }
  
  
  .heading {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 2rem;
  }
  
  .loan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .loan-cards {
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 4px;
    border-radius: 12px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
  }
  
  .loan-card:hover {
    transform: scale(1.02);
  }
  
  .loan-cards h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    padding-left: 55px;
  }
  
  .loan-cards p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
    padding-left: 30px;
  }
  
  .loan-cards button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 76px;
   
  }
  
  .loan-cards button:hover {
    background-color: #218838;
  }
  