.farm-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px;
}
.farm-container{
background-image: url(../../public/images/dawid-zawila--G3rw6Y02D0-unsplash.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
height: 650px;      
}
.image {
    width: 100%;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease-out;
}

.image:hover img {
    transform: scale(1.1);
    opacity: 0.3;
}


.info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    color: white;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-out;
    margin: 0%;
}


.image:hover .info {
    opacity: 1;
}

.buttons{
    background-color: #4CAF50;
    border-radius: 8px;
    cursor: pointer;
    padding: 2px 4px;
}
.buttons:hover {
    background-color: #45a049; 
    transform: scale(1.05);
  }
  


